%font-title {
  font-family: "AvenirNextCyr", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  text-transform: uppercase;
  color: #222222;
}

%font-aven {
  font-family: "AvenirNextCyr", sans-serif;
  font-style: normal;
}

%badge {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}
